.Lobby{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #ccc;
    margin: 20px auto;
    padding:20px;
    width: 300px;

    .form{
        display: flex;
        flex-direction: column;
        label{
            margin: 8px;
        }
        
        input{
            padding: 2px 2px;
        }
        button{
            margin-top: 15px;
        }
    }



}